# Операционные системы
.DS_Store
Thumbs.db

# Лог-файлы
*.log

# Статические файлы
src/static/
src/media/

# Папка виртуального окружения
venv/
env/

# Docker
*.db
*.pid
docker-compose.override.yml

# Django
src/**/*.pyc
src/**/*.pyo
src/**/__pycache__/
src/db.sqlite3

# Миграции Django
src/**/migrations/

# pyenv
.python-version

# IDEs
.vscode/
.idea/

# Конфиденциальные данные
.env

# данные бд
pgdata/